# === Unity generated ===
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

# === IDE / Editor files ===
.vs/
.vscode/
.idea/
.cursor/

.vsconfig
*.sln
*.slnx
*.csproj
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.apk
# Unity temp/build output
.utmp/
Assembly-CSharp.csproj.Backup.tmp
UpgradeLog.htm

